p{
    color: pink;
}

/*-------Table Data Cells------*/

#td1{
    width: 0px;
    height: 0px;
    border-top: 200px solid transparent;
    border-right: 200px solid beige;
    position: relative;
    animation: mykfa1 12s infinite;
}
#td2{
    width: 0px;
    height: 0px;
    border-top: 200px solid transparent;
    border-left: 200px solid goldenrod;
    position: relative;
    animation: mykfa2 12s infinite;
}
#td3{
    width: 0px;
    height: 0px;
    border-top: 200px solid transparent;
    border-right: 200px solid lightblue;
    position: relative;
    animation: mykfa3 6s infinite;
}
#td4{
    width: 0px;
    height: 0px;
    border-top: 200px solid transparent;
    border-left: 200px solid palevioletred;
    position: relative;
    animation: mykfa4 9s infinite;
}
#td5{
    width: 0px;
    height: 0px;
    border-top: 200px solid transparent;
    border-right: 200px solid lavender;
    position: relative;
    animation: mykfa5 6s infinite;
}
#td6{
    width: 0px;
    height: 0px;
    border-top: 200px solid transparent;
    border-left: 200px solid fuchsia;
    position: relative;
    animation: mykfa6 9s infinite;
}



/*-------KeyFrame Animations------*/
@keyframes mykfa1 {
    0% {
        top: 0px;
        transform: rotate(180deg);
        background-color: rgb(green);
    }
    25% {
        background-color: rgb(24, 36, 211); opacity: 0.5;
    }
    50% {top: 500px;
        transform: rotate(180deg);
         background-color:  rgb(140, 123, 139); opacity:0.1;
    }
    75% {
        background-color: rgb(65, 211, 24); opacity:0.5;
    }
    100% {
        top: 0px;
        background-color: rgb(13, 28, 20);
    }
}

@keyframes mykfa2 {
    0% {
        top: 0px;
        transform: rotate(180deg);
        background-color: rgb(39, 118, 123);
    }
    25% {
        background-color: rgb(136, 146, 150);opacity: 0.5;
    }
    50% {
        top: 400px;
        transform: rotate(180deg);
        background-color:  rgb(241, 0, 233);opacity: 0.1;
    }
    75% {
        background-color: rgb(56, 164, 103); opacity: 0.5;
    }
    100% {
        top: 0px;
        background-color: rgb(221, 26, 16);
    }
}

@keyframes mykfa3 {
    0% {
        left: 0px;
        background-color: rgb(50, 50, 117);
    }
    25% {
        background-color: rgb(24, 211, 83); opacity: 0.5;
    }
    50% {
        left: 300px;
        background-color:  rgb(135, 102, 13); opacity: 0.1;;
    }
    75% {
        background-color: rgb(134, 11, 73); opacity: 0.5;
    }
    100% {
        left: 0px;
        background-color: rgb(180, 49, 64);
    }
}

@keyframes mykfa4 {
    0% {
        top: 0px;
        transform: rotate(180deg);
        background-color: rgb(40, 40, 118);
    }
    25% {
        background-color: rgb(118, 199, 126); opacity: 0.5;
    }
    50% {
        top: 250px;
        transform: rotate(180deg);
        background-color:  rgb(2, 1, 22); opacity: 0.1;
    }
    75% {
        background-color: rgb(170, 12, 147); opacity: 0.5;
    }
    100% {
        top: 0px;
        background-color: rgb(207, 69, 69);
    }
}

@keyframes mykfa5 {
    0% {
        bottom: 0px;
        transform: rotate(180deg);
        background-color: rgb(22, 82, 143); opacity: 0.1;
    }
    25% {
        background-color: rgb(22, 177, 228);
    }
    50% {
        bottom: 300px;
        transform: rotate(180deg);
        background-color:  rgb(197, 20, 191);
    }
    75% {
        background-color: rgb(201, 15, 15);
    }
    100% {
        bottom: 0px;
        background-color: rgb(245, 104, 3); opacity: 0.1;
    }
}
@keyframes mykfa6 {
    0% {
        right: 0px;
        background-color: rgb(40, 128, 57);
    }
    25% {
        right: ;
        background-color: rgb(154, 31, 6); opacity: 0.6;;
    }
    50% {
        right: 300px;
        background-color:  rgb(197, 20, 191); opacity: 0.2;;
    }
    75% {
        background-color: rgb(207, 82, 82); opacity: 0.6;;
    }
    100% {
        right: 0px;
        background-color: rgb(234, 180, 155);
    }


}